<footer class="text-muted py-5">
  <div class="container">
    <%= link_to 'new', new_board_path, class:"text-white" %>
    <p class="float-end">
      <a href="#">上まで戻る</a>
    </p>
  </div>
</footer>