<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">

      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <strong>TOP</strong>
      <% end %>
      
        <%= link_to 'お題一覧', index_path, class: "btn btn-outline-light" %>

    </div>
  </div>
</header>