<div class="text-center container mt-3">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <%= image_tag 'otono.jpg', size: '250x150' %>
      <h1 class="mb-5">褒めて遣わす</h1>
      <div class="text-muted mb-5">
        <p>お主の褒める力は如何ほどか？<br>出てくるお題に対して、とにかく褒めちぎり倒して下さい。<br>時間制限は無いけど瞬発力も意識すると良いです。</p>
      </div>  
      <%= link_to 'チャレンジ', new_board_comment_path(@board), class: "btn btn-warning mb-5" %>
    </div>
  </div>
</div>

