<div class="text-center container mt-3">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= image_tag 'otono.jpg', size: '250x150' %>
      <h1 class="mb-4">『褒めて遣わす』</h1>
      <div class="text-muted mb-4">
        <p>褒める力を磨くトレーニング用アプリ(願望)です。
          <br>生きていると突如相手を褒めて上げるべき瞬間に立ち会う事があると思います。
          <br>しかし褒めるという行為には語彙力が必要です。
          <br>あなたは突発的に素敵な言葉を駆使して相手を喜ばすことが出来るでしょうか？
        </p>
        <p>《ルールは簡単♪》
          <br>お題(ランダム)に対して、とにかく褒めちぎり倒して下さい。
          <br>時間制限は無いけど瞬発力も意識すると良いと思います。
          <br>一言でもOK！難しく考えなくて大丈夫です◎
          <br>入力したコメントは登録してもらえると嬉しいです☆
        </p>
      </div>  
      <%= link_to 'チャレンジ', new_board_comment_path(@board), class: "btn btn-warning" %>
    </div>
  </div>
</div>

