<section class="text-center container">
  <div class="row ">
    <div class="col-lg-5 mx-auto">
      <div class="col my-5">
        <div class="card shadow-sm">
          <%= link_to image_tag("sample.jpg", class: 'card-img-top', size: '400x300'), show_path %>
        </div>
      </div>
      <div class="mb-3">
        <label class="lead form-label">褒めて遣わせ！</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <%= link_to '完了', challenge_path, class: "btn btn-primary my-3" %>
    </div>
  </div>
</section>