<div class="container">

  <hr class="featurette-divider">

  <div class="scroll">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">

        <!-- お題写真 -->
        <% @board.each do |b| %>
          <div class="col">
            <div class="card shadow-sm">
              <%= link_to board_path(b), method: :delete do %>
                <button type="button" class="btn-close" aria-label="Close"></button>
              <% end %>
              <%= link_to image_tag(b.image.url, class: 'shadow bg-white rounded card-img-top', size: '400x300'), board_path(b) %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<%= render 'shared/footer' %>
