<div class="container">

  <hr class="featurette-divider">

  <div class="row">

    <div class="scroll col-md-7 order-md-2">
      <h3 class="text-muted">ニックネーム：○○</h3>
      <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
      <hr class="featurette-divider">
      <h3 class="text-muted">ニックネーム：○○</h3>
      <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
      <hr class="featurette-divider">
      <h3 class="text-muted">ニックネーム：○○</h3>
      <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
      <hr class="featurette-divider">
      <h3 class="text-muted">ニックネーム：○○</h3>
      <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
      <hr class="featurette-divider">
      <h3 class="text-muted">ニックネーム：○○</h3>
      <p class="lead">その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
    </div>

    <div class="col-md-5 order-md-1">
      <%= image_tag @board.image, class:"shadow bg-white rounded", size: '400x300' %>
    </div>
    
  </div>

  <hr class="featurette-divider">

</div>

<%= render 'shared/footer' %>